# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories (ignore node_modules everywhere)
**/node_modules/

# Production build


*.spec

# Agent Update Archives


# Local env files

*.local
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Optional cache / misc
.cache
.parcel-cache
.next
out
coverage
*.tsbuildinfo

!**/config.json
g
# Ignore all .pyc files
*.pyc

# Ignore __pycache__ directories
__pycache__/