*{
  user-select: none;
}

.V-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #101827;
  color: #fff;
  font-family: "Inter", sans-serif;
  padding: 10px;
}

.V-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  margin-bottom: 8px;
}

.V-lock-btn {
  background-color: #0078d4;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.V-lock-btn:hover {
  background-color: #2899f5;
}

.V-grid-label {
  color: #cbd5e1;
  font-size: 14px;
}

.V-grid {
  width: 100%;
  height: calc(100% - 50px);
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-color: #13181e;
  border-radius: 12px;
  overflow: scroll;
  position: relative;
}

.V-device-box {
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  width: 80px;
  text-align: center;
  padding: 10px;
  color: #e2e8f0;
  box-shadow: 0 0 8px rgba(0, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  transition: all 0.2s;
}

.V-device-box.V-active {
  border: 1px solid #00ffff;
  background-color: #05391d;
}

.V-device-box.V-no-agent {
  border: 1px solid #f87171;
  background-color: #3d0505;
}

.V-device-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
}

.V-device-icon {
  display: block;
  font-size: 32px;
  margin-bottom: 4px;
}

.V-device-name {
  font-size: 8px;
  color: #cbd5e1;
}

.V-device-ip {
  font-size: 10px;
  color: #a8dadc;
  margin-top: 4px;
  opacity: 0.9;
}
